.watch {
  height: 100%;
  width: 100%;
  padding-top: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .videoContainer {
    height: max-content;
    width: 90%;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
